.container{
    width: 100%;
    
}
.container .loginContent{
    box-sizing: border-box;
    padding: 4vw;
    width: 30%;
    height: 35%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    
    
}
.container .loginContent input{
    display: block;
    margin: auto;
    width: 15vw;
    height: 4vh;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 15px;
}
.container .loginContent button{
    border: none;
    width: 10vw;
    height: 4vh;
    background: rgb(0, 122, 204);
    box-shadow: 2px 2px 2px #aaa;
    cursor: pointer;
}



